

 <ul class="hlist">
#set( $section = $content.section )
 #set( $reporttype = $context.getRequestParameter("reporttype") )
 #if($reporttype || $section=="assets")
 #if(!$reporttype)
 	#set($assetType = "Approved Assets")
 #elseif($reporttype=="01newlyuploaded")
 	#set($assetType = "Pending Approval")
 #elseif($reporttype=="02deletedfiles")
 	#set($assetType = "Deleted Files")
 #elseif($reporttype=="recentlyordered")
 	#set($assetType = "Recently Ordered")
 #elseif($reporttype=="recentlyviewed")
 	#set($assetType = "Recently Viewed")
 #end
<li style="border-left: 0px; width: 200px; font-size: 16px; font-family: Arial;  padding-top: 5px"> <div>

<span style="width: 200px">$!assetType</span>

</div></li>
#end

#set( $selected = "class='selectedsection'" )
#if($user) 
 <li #if($section=="home")$selected#end ><a  href="$home$apphome/index.html">Home</a></li>

#if( $canviewassets )
<li #if($section=="assets")$selected#end><a href="$home$apphome/views/categories/index.html">Assets</a></li>

<li #if($section=="basket")$selected#end>
<div id="basketmenu" class="emmenuitem">
$pages.include("$apphome/components/albums/basket/menuitem.html")
</div> 
</li>
#end

#if( $canviewupload )
 <li #if($section=="upload")$selected#end><a href="$home$apphome/views/upload/index.html">Upload</a></li>
#end

#if( $canvieworders )
<li #if($section=="activity")$selected#end>
<a href="$home$apphome/views/activity/listorders.html">Orders</a>
</li>
#end

#if($canviewsettings)
<li #if($section=="settings")$selected#end>
	<a href="$home$apphome/views/settings/settingsgroup/index.html">Settings</a>
	</li>
	#end
#end
 </ul>
  