
<table width="100%">
	<tr>

		<td width="250" style="vertical-align: top; max-width: 324px;">
			<div class="em-rounded">
				<h2>order status</h2>
				<ul class="vlist">
					<li><input type="checkbox" id="processing">Processing</input>
					</li>
					<li><input type="checkbox" id="complete">Complete</input>
					</li>
					<li><input type="checkbox" id="error">Error</input>
					</li>
				</ul>
			</div>
			<br />
			<div class="em-rounded">
				<h2>order type</h2>
				<ul class="vlist">
					<li><input type="checkbox" id="upload">Upload</input>
					</li>
					<li><input type="checkbox" id="preview">Preview</input>
					</li>
					<li><input type="checkbox" id="publish">Publish</input>
					</li>
					<li><input type="checkbox" id="download">Download</input>
					</li>
				</ul>
			</div>
			<br />
			<div class="em-rounded">
				<h2>users</h2>
				<ul class="vlist">
					<li><input type="radio" id="myorders">My Orders</input>
					</li>
					<li><input type="radio" id="allorders">All Orders</input>
					</li>
				</ul>
			</div></td>
		<td width="10"></td>
		<td style="vertical-align: top; padding-left: 0px;">
			$pages.includeContent()</td>
	</tr>
</table>
<div class="nothing" style="display: none;"></div>

<script type="text/javascript">
	$(document).ready(function() {
		jQuery('ul.vlist input').each(function(){this.checked = true;});
		jQuery('ul.vlist input#myorders').each(function(){this.checked = true;});
		jQuery('ul.vlist input#allorders').each(function(){this.checked = false;});
	});
</script>



